.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #A3B18A;
    padding: 10px 20px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: 'Raleway';
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header h2{
    margin: 10px 0px;
}
.modal-close-button {
    background-color: #ff5454;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0px 6px ;
}

.modal-body input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #DAD7CD;
}

.modal-body button {
    padding: 10px 20px;
    background-color: #344E41;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #DAD7CD;
}